.elements{
  display: flex;
}
.tutor-img{
  width:300px;
  height:300px;
}
.calendar-img{
  width:30px;
  height:30px;  
}
.btn-calendario{
  width:40px;
  height:40px;
  border:0px;
  background:white;
}
.btn-reseña{
  width:40px;
  height:40px;  
  border:0px;
  background:white;

}
.reseña-img{
  width:30px;
  height:30px;
}
.tutor-text{
  width: 80%;
}