.logIn-container{
  top: 25%;
  right: 0;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  border-radius: 15px;
  width: 450px;
  height: 470px;
  padding: 25px;
}

.logIn-img{
  height: calc(100vh - 80px);
}
