@import url('https://fonts.googleapis.com/css?family=Google+Sans:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons"');

$font-family-base: Google Sans, Roboto, Arial, sans-serif;

$blue-gray-9: #263238;
$blue-gray-8: #37474F;
$blue-gray-7: #455A64;
$blue-gray-6: #546E7A;
$amber-4: #FFCA28;
$amber-5: #FFC107;
$amber-6: #FFB300;
$amber-7: #FFA000;
$indigo-1: #CADDFF;
$indigo-2: #99B9FF;
$indigo-3: #5979F7;
$indigo-4: #304FFE;


$theme-colors: (
        "primary": #263238,
        "secondary": #FFB300,
        "tertiary": #304FFE,
        "amber-7":#FFA000,
        "indigo-1": #CADDFF,
        "white": #fff,
        "light": #ebebeb,
        "danger": #D50000,
);

/* Modals */
$modal-header-padding: 8px;
$modal-content-border-radius: 0px;
$modal-content-border-width: 0px;
$modal-content-bg: #ffffff;
$modal-footer-border-width: 2px;
$modal-sm: 400px;
