@import url('https://fonts.googleapis.com/css?family=Google+Sans:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons"');

$font-family-base: Google Sans, Roboto, Arial, sans-serif;

$blue-gray-9: #263238;
$blue-gray-8: #37474F;
$blue-gray-7: #455A64;
$blue-gray-6: #546E7A;
$amber-4: #FFCA28;
$amber-5: #FFC107;
$amber-6: #FFB300;
$amber-7: #FFA000;
$indigo-1: #8C9EFF;
$indigo-2: #536DFE;
$indigo-3: #3D5aFE;
$indigo-4: #304FFE;


$theme-colors: (
        "primary": #263238,
        "secondary": #FFB300,
        "light": #ebebeb,
        "danger": #D50000,
);
