.label{
  color: $blue-gray-9;
  opacity: 2;
  display: block;
  font-size: 15px;
  pointer-events: none;
  position: absolute;
  top: 8px;
  transition-duration: .15s;
  transition-property: font-size,transform;
}

.input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $blue-gray-8;
  display: block;
  color: $blue-gray-9;
  font-size: 15px;
  width: 100%;
  height: 38px;
  padding-right: 48px;
  transition-duration: .15s;
  transition-property: border-bottom-color;
  &:focus{
    border-bottom-color: $amber-6;
    outline: none;
    +.label{
      font-size: 12px;
      transform: translateY(-105%);
    }
  }
  &.is-filled{
    border-bottom-color: $indigo-4;
    +.label{
      font-size: 12px;
      transform: translateY(-105%);
    }
  }
}

.input-icon {
  background: transparent;
  border: none;
  outline: none;
  height: 38px;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: $blue-gray-9;
  &:focus{
    outline: none;
  }
  &.is-filled{
    color: $amber-7
  }
}

.btn-meeting{
  border-radius: 500px;
  line-height: 1;
  padding: 14.5px;
  transform: translate3d(0px,0px,0px);
  transition-duration: 33ms;
  transition-property: background-color, transform;
}

//.btn-fill{
//  background-color: aqua;
//  border: none;
//  color: brown;
//  margin-bottom: 18px;
//  &:hover{
//    transform: scale(1.04);
//    background-color: blue;
//    color: #FFF;
//  }
//}

.border-btn{
  background-color: transparent;
  color: blueviolet;
  border: solid 1px #FFFFFF;
  margin-bottom: 18px;
  &:hover{
    transform: scale(1.04);
    background-color: blueviolet;
    color: coral;
  }
}

.divider{
  display: table;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  margin: 0px auto 1em;
  color: rgb(117, 117, 117);
  position: relative;
  text-align: center;
  width: 100%;
  &:before, &:after{
    border-top: 1px solid rgb(189, 189, 189);
    content: "";
    display: table-cell;
    position: relative;
    top: 0.8em;
    width: 45%;
  }
}

.form-container{
  width: 100%;
  max-width: 430px;
  margin: 1rem auto;
}

.mt-4_5{
 margin-top: 1.8rem;
}

.cursor-pointer{
  cursor: pointer;
}

