.fullScreen{
    width: 100%;
}
.titulo{
    font-weight: bold;
}
.letra{
    font-weight: normal;
    font-size:28px;
    color: #373333;
}
.instrucciones{
    h2{
        color: #999 !important;
        margin-left: 1.5vh;
    }
    span{
        color: #ff4f57;
        margin-bottom: 0%;
        position:relative;
        bottom: -0.3vh;
    }
}
