
.signUp-container{
  height: 100vw;
  width: 100vw;
  background-color: #ebebeb29;
}

@include media-breakpoint-up(md){
  .signUp-container{
    display: grid;
    grid-template-columns: [first] calc(100%/1.61803) [middle] auto [end];
  }

}

.signUp-img{
  grid-column-start: first;
}

.form-max-width{
  width: 100%;
  max-width: 430px;
}

.sub-title{
  font-weight: lighter;
}

.signIn{
  border: none;
  background-color: transparent;
  border-bottom: 2px solid $amber-7;
  line-height: 1;
  transition-duration: .15s;
  transition-property: color;
  &:hover{
    color: $amber-7
  }
}
